<div class="tender">
  <h2>tender works!</h2>
  <ul>
    <div *ngFor="let tender of tenders">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ tender.tenderName }}</mat-card-title>
          <mat-card-subtitle>{{ tender.tenderStart | date }} - {{ tender.tenderEnd | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Бюджет: {{ tender.tenderBudget }}000 рублей</p>
          <p>Компания: {{ tender.company.companyName }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onDetailsClick(tender.companyId)">Посмотреть детали</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ul>
</div>
